/*구글 폰트*/
@import url(https://fonts.googleapis.com/css2?family=Song+Myung&display=swap);

 body {
      font-family: "Song Myung", serif;
      line-height: 1.2;
      color: #2a2a2a;               /* 너무 완전한 검은색(#000)보다 눈이 편한 짙은 회색 */
      background-color: #f3e6ec;       /* 완전 흰색보다 부드러운 아이보리빛 미색 */
      font-size: 30px;
    }

/*메인 제목 스타일*/
h1 {
    font-size: 50px;
    color: #2a2a2a;
    padding-bottom: 20px;
    border-bottom:3px solid #da9aaa;
    text-align: center;
}
h2 {
    font-size: 20px;
    color: #232323;
    padding-bottom: 20px;
    border-bottom:3px solid #edd1df;
    text-align: center;
}