/*구글 폰트*/
@import url(https://fonts.googleapis.com/css2?family=Song+Myung&display=swap);

 body {
      font-family: "Song Myung", serif;
      line-height: 1.2;
      color: #53494f; /*전체 폰트 색상*/            
      font-size: 30px;
      background-color:#fef2f7;
      /*background-image: url(../media/picture/space2.jpg);
      background-size: cover;          
      background-position: center;     
      background-repeat: no-repeat;  
      background-attachment: fixed;   

      margin: 0;
      min-height: 100vh;*/
    }

h1 {
    font-size: 50px;
    color: #53494f; /*폰트 색*/
    padding-bottom: 20px;
    border-bottom:3px solid #e3bcc9; /*밑줄 색*/
    text-align: center;
}

h2 {
    font-size: 20px;
    color: #53494f;/*폰트 색*/
    background-color: #f0d8e1; /*네모칸 배경 색*/
    padding-bottom: 20px;
    border-bottom:5px solid #e3bcc9; /*밑줄 색*/
    text-align: center;
    padding: 10px 15px;
    margin-top: 40px;
    margin-bottom: 15px;
}

h3 {
    color:#53494f;
    font-size: 38px;
    padding-bottom: 5px;
    border-bottom: 3px solid #e3bcc9;
    margin-top: 25px;
    margin-bottom: 10px;
}

a {
    color: #53494f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* myTrip.html */
.trip-card {
    border: 2px solid #e3bcc9;
    border-radius: 20px;    
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 2px 5px #d9b1be;
}

.trip-card img {
    display: block;
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
}

/* myClass.html */
table {
    width: 100%;
    border-collapse: collapse; /*이중 테두리 병합*/
    margin-top: 20px;
}

th, td {
    border: 2px solid #e3bcc9;
    padding: 12px;
    text-align: center;
    font-size: large;
}

th {
    background-color:#f9dde6;
}

/* SignUp.html */
fieldset {
    border: 2px solid #e3bcc9;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

legend{
    font-weight: bold;
    padding: 0 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #e3bcc9;
    border-radius: 8px;
    font-family: inherit;
    font-size: 0.95em
}

input[type="radio"],
input[type="checkbox"]{
    width: auto;
    margin-bottom: 15px;
    cursor: pointer;
}

textarea {
    resize: vertical; /*가로로 늘어남 방지*/
    min-height: 120px; /*최소 높이 지정*/
}

.btn-submit,
.btn-reset {
    font-family: "Song Myung", serif;
    background-color: #ffe8ef;
    padding: 12px 25px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 8px;  
    margin-right: 10px;

}

.btn-submit{
    border: 2px solid #d9b1be; 
    background-color: #efcad7;
}
.btn-submit:hover {
    background-color: #eebfd0;     
    border-color: #d4a2b2; 
}
.btn-reset {
    border: 2px solid #c7bdc1; 
    background-color: #dad0d5;
}

.btn-reset:hover {
    background-color: #d2c6cd;     
    border-color: #9f9d9d;
}

/*Flex 와 Grid로 레이아웃 잡기*/

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

nav a {
    padding: 8px 16px;
}

nav a:hover {
    color: #d4a2b2;
}

